# Dear Bug Hunter
# This credential is intentionally included for educational purposes only and does not provide access to any production systems
# Please do not submit it as part of our bug bounty program
services:
  ldap:
    image: osixia/openldap:latest
    container_name: octopus_ldap
    environment:
      - LDAP_ORGANISATION=example
      - LDAP_DOMAIN=zugtstdomain.wan
      - LDAP_ADMIN_PASSWORD=admin
      - LDAP_CONFIG_PASSWORD=config
      - LDAP_READONLY_USER=false
      - LDAP_RFC2307BIS_SCHEMA=false
      - LDAP_BACKEND=mdb
      - LDAP_TLS=false
      - LDAP_REPLICATION=false
      - KEEP_EXISTING_CONFIG=false
      - LDAP_REMOVE_CONFIG_AFTER_SETUP=true
    ports:
      - "389:389"
    volumes:
      - './ldifs:/container/service/slapd/assets/config/bootstrap/ldif/custom'
      - './octopus.ldif:/container/service/slapd/assets/config/bootstrap/schema/custom/octopus.ldif'
    command: --copy-service